<!-- contact-drop-menu -->
<ul id="contact" class="nav navbar-nav">
    <li>
        <a href=""
            data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"
           ><span class="fa fa-phone"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="tel:3250322479"><span class="fa fa-phone"></span> +32 50 322 479</a></li>
            <li><a href="mailto:info@veldenduin.be"><span class="fa fa-envelope"></span> info@veldenduin.be</a></li>
        </ul>
    </li>
</ul>
