<!-- langs for {{pgLang}} -->
{% for m1 in site.data.menu %}
    {% if pgLink == m1.item[pgLang].link %}
         {% assign langLinks = m1.item %}
    {% endif %}
    {% for m2 in m1.submenu %}
        {% if pgLink == m2.item[pgLang].link %}
             {% assign langLinks = m2.item %}
        {% endif %}
    {% endfor %}
{% endfor %}

<ul id="lang" class="nav navbar-nav navbar-right">
{% for lang in site.data.langs %}
    {% assign ln = lang[0] %}
    <li {% if ln == pgLang %}class="active"{% endif %}>
        {% if ln == pgLang %}          <a href="/{{ ln }}">
        {% elsif langLinks[ln].link %} <a href="{{ langLinks[ln].link}}">
        {% else %}                     <a href="/{{ ln }}/">
        {% endif %}{{ ln }}</a>
    </li>
{% endfor %}
</ul>
