{% if lvl2.submenu %}
  <div class="col-xs-12">
    <!-- TODO remove all this -->
    {% if page.insert contains 'background-image' and page.images.size > 0 %}
      {% capture _style %}
        background: linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.4)),
        url('{{page.images[0]}}');background-position: center center;
        background-size: cover;
        background-position: center center;
      {%endcapture%}
    {% endif %}
    <div class="col-lg-10 col-lg-push-1 col-xs-12 
                vd-select-list {{page.class.select.list}} clearfix" 
         style="{{ _style }}"
         id="vd-select-list">
    {% assign itemcls = 'col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
      
    <!-- TODO remove this way of including the form -->
    {% if lvl2.booking_form_group %}
      <div class="{{itemcls}} vd-select-item-wrap" >
        <div class="vd-select-item">
      {% include booking-form.html %}
        </div>
      </div>
    {% endif %}

    {% for link in lvl2.submenu %}
        {% assign select = link.linkcode %}
        {% for pg in site.pages %}
            {% if pg.url == site.data.linkcode[select][pgLang] %}
                {% unless pg.preview == false %}
                    {% assign linkPage = pg %}
                    {% include linkPageStyleSubMenu.html %}
                {% endunless %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
  </div>
{% endif %}
