{% if lvl2.submenu %}
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="vd-horacc {{page.class.select.list}} clearfix" id="vd-horacc-list"
    {% if page.insert contains 'background-image' and page.images.size > 0 %}
      style="background: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),
             url('{{page.images[0]}}');background-position: center center;
             background-size: cover;
             background-position: center center;"
    {% endif %}
    >

    {% assign figcount = 0 %}
    {% for link in lvl2.submenu %}
        {% assign select = link.linkcode %}
        {% for pg in site.pages %}
            {% if pg.url == site.data.linkcode[select][pgLang] %}
                {% unless pg.preview == false %}
                    {% assign figcount = figcount |plus: 1 %}
      <div class="vd-horacc-section {% if figcount == 1 %}on{% endif %}">
        <div class="vd-horacc-slide" style="background-image: url('{{pg.images[0]}}')"></div>
        <div class="vd-horacc-cover"></div>
        <div class="vd-horacc-caption"><a href="{{pg.url}}"><span>{{pg.title}}</span></a></div>
      </div>
                {% endunless %}
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
  </div>
{% endif %}
