{% assign previewTitle = linkPage.title %}
{% if linkPage.preview.title %}
    {% assign previewTitle = linkPage.preview.title %}
{% endif %}

<a href="{{pg.url}}">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 vd-select-item {{page.class.select.item}} vd-select-submenu">
    <div class="vd-select-item-inner"
    {% if linkPage.images.size > 0 %}{%assign backimg = linkPage.images[0] %}{%endif%}
    {% if linkPage.picto %}{%assign backimg = linkPage.picto %}{%endif%}
    {% if backimg %}style="
        background: url('{{backimg}}');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: {% if linkPage.picto %}50%{% else %}cover{% endif %};"
    {% endif %}
    ><div class="vd-select-item-dimmer">
      <h2 class="vd-select-title">{{ previewTitle }}</h2>
    {% if linkPage.preview.button %}
      <div class="vd-button"><div class="vd-button-tag"><div class="vd-button-inner">

        <span class="">
                {{ site.data.langs[pgLang].dict.starting}}
        </span>
        <span class="vd-button-price">
                {{ linkPage.preview.button.price }}
        </span>
        <span class="">
                {{ linkPage.preview.button.for }}
        </span>
      </div></div></div>
    {% endif %}
      <div class="vd-select-content">
                {% if linkPage.preview.text.size > 0 %}
        <div>
                    {% for ln in linkPage.preview.text %}
                    {{ ln }}<br>
                    {% endfor %}
        </div>
                {% endif %}
        <ul>
                {% if linkPage.preview.list.size > 0 %}
                    {% for it in linkPage.preview.list %}
          <li>{{ it }}</li>
                    {% endfor %}
                {% endif %}
        </ul>
      </div>
      <button class="btn btn-lg btn-info">{{site.data.langs[pgLang].dict.moreinfo}}</button>
    </div></div>
  </div>
</a>
