{% assign previewTitle = linkPage.title %}
{% unless itemcls %}
    {% assign itemcls = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
{% endunless %}
{% if linkPage.preview.title %}
    {% assign previewTitle = linkPage.preview.title %}
{% endif %}

<a href="{{pg.url}}" class="notd">
  <div class="{{itemcls}} vd-select-item-wrap">
    <div class="vd-select-item {{page.class.select.item}} vd-select-submenu">
      <div class="vd-select-content">
        {% assign bg_size = "cover" %}
        {% if linkPage['tile-background-size' %}{% assign bg_size = linkPage['tile-background-size']%}{% endif %}
        {% if linkPage.picto %}
          {% assign _class='vd-bg-pictomask' %}
          {% capture _style %}
              -webkit-mask-image: url( {{ linkPage.picto }});
          {% endcapture %}
        {% elsif linkPage.images[0] %}
          {% assign _class='vd-bg-img' %}
          {% capture _style %}
              background-image: url( {{ linkPage.images[0] }});
              background-size: {{bg_size}}
          {% endcapture %}
        {% endif %}
        {% if _style %}
        <div class="vd-select-img {{ _class }}" style="{{ _style }}"></div>
        {% endif %}
        {% if linkPage.preview.text.size > 0 or linkPage.preview.list.size > 0 %}
        <div class="vd-select-text">
          {% if linkPage.preview.button %}
          <div class="vd-button">
            <span class="">{{ site.data.langs[pgLang].dict.starting}}</span>
            <span class="vd-button-price">{{ linkPage.preview.button.price }}</span>
            <span class="">{{ linkPage.preview.button.for }}</span>
          </div>
          {% endif %}
          <h2 class="vd-select-title">{{ previewTitle }}</h2>
          {% if linkPage.preview.text.size > 0 %}
          <div class="vd-select-previewtext">
            {% for ln in linkPage.preview.text %}
            {{ ln }}<br>
            {% endfor %}
          </div>
          {% endif %}
          {% if linkPage.preview.list.size > 0 %}
          <ul>
            {% for it in linkPage.preview.list %}
            <li>{{ it }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          <button class="btn btn-lg btn-info">{{site.data.langs[pgLang].dict.moreinfo}}</button>
        </div>
        {% else %}
        <h2 class="vd-select-title vd-select-title-fill">{{ previewTitle }}</h2>
        {% endif %}
      </div>
    </div>
  </div>
</a>
