{% assign previewTitle = linkPage.title %}
{% if linkPage.preview.title %}
    {% assign previewTitle = linkPage.preview.title %}
{% endif %}

{% assign previewImg = pg.images[0] %}
{% if linkPage.preview.image %}
    {% assign previewImg = linkPage.preview.image %}
{% endif %}

<div class="vd-select-item vd-select-landing {{page.class.select.item}}">
  <a href="{{pg.url}}" class="notd">
    <div class="vd-select-item-inner">
    {% if page.class.select.noimage %}
      <div class="col-lg-12 col-md-12 col-sm-12 hidden-xs">
    {% else %}
      <div class="vd-select-content col-lg-6 col-md-6 col-sm-6 col-xs-12">
    {% endif %}
        <h2 class="vd-select-title">{{ previewTitle }}</h2>
    {% if linkPage.preview %}
        <div class="vd-select-preview">
        {% if linkPage.preview.text.size > 0 %}
          <div>
            {% for ln in linkPage.preview.text %}
            {{ ln }}<br>
            {% endfor %}
          </div>
        {% endif %}
          <ul>
        {% if linkPage.preview.list.size > 0 %}
            {% for it in linkPage.preview.list %}
            <li>{{ it }}</li>
            {% endfor %}
        {% endif %}
          </ul>
        </div>
    {% endif %}
    {% if page.class.select.noimage %}
      </div>
    {% else %}
      </div>
      {% capture _style %}
        background-color: #fff;
        background-image: url({{previewImg}});
        background-size: cover;
        background-repeat: no-repeat; 
        background-position: center center;
      {% endcapture %}
      <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs vd-select-img" style="{{ _style }}" >&nbsp;</div>
    {% endif %}
    </div>
  </a>
</div>