<form action="//veldenduin.us10.list-manage.com/subscribe/post?u=c91eec1b275a21e659fdf1693&amp;id=736d02af7f"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
      class="validate" target="_blank" novalidate>
  <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">{{site.data.langs[pgLang].dict.mailchimp}}</label>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="fa fa-envelope"></span>
      </span>
      <input type="email" class="form-control email" aria-label="email" value="" name="EMAIL"
             id="mce-EMAIL" placeholder="email address" required>
      <span class="input-group-btn">
        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </span>
    </div><!-- /input-group -->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_c91eec1b275a21e659fdf1693_736d02af7f" tabindex="-1" value=""></div>
  </div>
</form>
