{% for m1 in site.data.menu %}
    {% if pgLink == m1.menu[pgLang].link %}
        {% assign active1 = m1.menu %}
    {% endif %}
    {% for m2 in m1.submenu %}
        {% if pgLink == m2.item[pgLang].link %}
            {% assign active1 = m1.menu %}
            {% assign active2 = m2.item %}
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- menu for {{pgLang}} at {{ pgLink }} -->
<ul id="menu" class="nav navbar-nav" >
{% for m1 in site.data.menu %}
    <li class="{% if m1.submenu %}dropdown{% endif %} {% if active1 == m1.menu %}active{% endif %}">
        <a href="{{ m1.menu[pgLang].link }}"
           {% if m1.submenu %}
               data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"
           {% endif %}
           >{{ m1.menu[pgLang].name}}
        </a>

        {% if m1.submenu %}
            <ul class="dropdown-menu" role="menu">
                {% for m2 in m1.submenu %}
                    <li {% if pgLink == m2.item[pgLang].link %}class="active"{% endif %} >
                        <a href="{{ m2.item[pgLang].link }}" >
                        {{ m2.item[pgLang].name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>
