{% for m1 in site.data.menu %}
    {% assign menuLinkCode = m1.linkcode %}
    {% assign menuLink = site.data.linkcode[menuLinkCode][pgLang] %}
    {% if pgLink == menuLink %}
        {% assign active1 = m1 %}
    {% endif %}
    {% for m2 in m1.submenu %}
        {% assign menuLinkCode = m2.linkcode %}
        {% assign menuLink = site.data.linkcode[menuLinkCode][pgLang] %}
        {% if pgLink == menuLink %}
            {% assign active1 = m1 %}
            {% assign active2 = m2 %}
        {% endif %}
    {% endfor %}
{% endfor %}

<!-- menu for {{pgLang}} at {{ pgLink }} -->
<ul id="menu" class="nav navbar-nav" >
{% for m1 in site.data.menu %}
    <li class="{% if m1.submenu %}dropdown{% endif %} {% if active1 == m1 %}active{% endif %}">
        <a href="{{ site.data.linkcode[m1.linkcode][pgLang] }}"
           {% if m1.submenu %}{% unless m1.linkcode %}
               data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"
           {% endunless %}{% endif %}
           >{{ m1.menutekst[pgLang] }}
        </a>

        {% if m1.submenu %}{% unless m1.linkcode %}
            <ul class="dropdown-menu" role="menu">
                {% for m2 in m1.submenu %}
                    <li {% if active2 == m2 %}class="active"{% endif %} >
                        <a href="{{ site.data.linkcode[m2.linkcode][pgLang] }}" >
                        {{ m2.menutekst[pgLang]}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endunless %}{% endif %}
    </li>
{% endfor %}
</ul>
