<div class="vd-news-item clearfix {{page.class.news.item}} {{newsclass}} col-lg-3 col-md-4 col-sm-6 col-xs-6" role="vctrl-item"><div>
  <a href="{{newsitem.url}}" class="notd">
    <div class="vd-news-item-inner clearfix">
      <div class="vd-news-item-label">
      {% if newsitem %}
        <div class="vd-news-date ">
          <span class="vd-news-item-date">
            {{ newsitem.date | date: "%d-%m-%y" }}
          </span>
        </div>
        <div class="vd-news-title ">{{ newsitem.title }}</div>
        <div class="vd-news-teaser notd"><p>{{ newsitem.description }}</p></div>
        <button class="btn btn-info">{{site.data.langs[pgLang].dict.readmore}}</button>
      {% else %}&nbsp;
      {% endif %}
      </div>
    </div>
  </a>
</div></div>
