<div class="vd-news-title row">{{site.data.langs[pgLang].dict.news}}</div>
<div class="vd-news-list row {{page.class.news}}"
     id="vd-news-list" >
{% for pst in site.posts  %}
    <!-- {{pst.title}} @{{pst.url}} -->
    {% assign parts = pst.url | split: '/' %}
    {% assign ln = parts[1] %}
    {% if ln == pgLang %}
    <div class="vd-news-item {{page.class.post}}" >
        <a href="{{pst.url}}">
            <div class="vd-news-item-inner col-lg-12 col-md-12 col-sm-12 col-xs-12"
                 data-images='{{pst.images | jsonify}}'><div class="row">
            {% assign picurl = '/img/vd-logo-news.jpg' %}
            {% if pst.images |size > 0 %}
                {% assign picurl = pst.images[0] %}
            {% endif %}
                <div class="vd-news-img hidden-xs pull-left">
                    <img src="{{picurl}}" class="img-responsive img-thumbnail img-circle"/>
                </div>
                <div>
                    <div class="vd-news-title ">{{ pst.title }}</div>
                    <div class="vd-news-teaser">{{ pst.teaser }}</div>
                </div>
            </div></div>
        </a>
    </div>
    {% endif %}
{% endfor %}
</div>
