<div class="vd-news-feed ">

<div class="vd-news-list {{page.class.news.list}} clearfix" id="vd-news-nav">
{% if page.previous.url %}
  <div class="vd-news-prev">
    {% assign newsitem = page.previous %}
    {% assign newsitemicon = 'glyphicon glyphicon-backward'%}
    {% include newsfeeditem.html %}
  </div>
{% endif %}
{% if page.next.url %}
  <div class="vd-news-next">
    {% assign newsitem = page.next %}
    {% assign newsitemicon = 'glyphicon glyphicon-forward'%}
    {% include newsfeeditem.html %}
  </div>
{% endif %}
</div>


<div class="vd-news-title ">{{ site.data.langs[pgLang].dict.latestnews}}</div>

<div class="vd-news-list {{page.class.news.list}} clearfix" id="vd-news-list" >
{% assign cnt = 0 %}
{% for pst in site.posts  %}
    <!-- {{pst.title}} @{{pst.url}} -->
    {% assign parts = pst.url | split: '/' %}
    {% assign ln = parts[1] %}
    {% if ln == pgLang %}
        {% if cnt < site.newsfeed.max %}
            {% assign cnt = cnt |plus: 1%}
            {% assign newsitem = pst %}
            {% assign newsitemicon = 'fa fa-rss'%}
            {% include newsfeeditem.html %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>

<div class="vd-news-archive">
  <a href="{{site.data.linkcode.news[pgLang]}}">
    <button class="btn btn-lg btn-success">{{site.data.langs[pgLang].dict.newsarchive}}</button>
  </a>
</div>

</div>
