<span id="vd-share-group" class="vd-share-grp"
      data-share='{"title": "{{ogTitle}}", "url": "{{site.url}}{{ogUrl}}", "fb-app-id": {{site.fb-app-id}},
                  "fb-redir": "{{site.url}}/fb-redir-close.html" }'>

    {{ site.data.langs[pgLang].dict.share }}
    <!-- fb -->
    <button role="share-fb">
        <span class="fa fa-facebook-square vd-share vd-share-fb"></span>
    </button>

    <button role="share-gp">
        <span class="fa fa-google-plus-square vd-share vd-share-gp"></span>
    </button>

    <!-- tw -->
    <button role="share-tw">
       <span class="fa fa-twitter-square vd-share vd-share-tw"></span>
    </button>

</span>
