<div id="vd-share">
<div id="vd-share-title">
{{site.data.langs[pgLang].dict.share}}<br>
</div>

<div id="vd-share-group" class="btn-group vd-share-grp"
     data-share='{"title": "{{ogTitle}}", "url": "{{site.url}}{{ogUrl}}", "pi-media": "{{ site.url }}{{ ogImgUrl }}",
                  "fb-app-id": {{site.fb-app-id}}, "fb-redir": "{{site.url}}/fb-redir-close.html" }'>
  <button type="button" class="btn btn-lg btn-default"
          data-toggle="tooltip" data-placement="right" title="{{ site.data.langs[pgLang].dict.share }}">
    <span class="fa fa-share-alt"></span>
  </button>

  <button role="share-fb" class="btn btn-lg btn-default">
    <span class="fa fa-facebook-square vd-share vd-share-fb"></span>
  </button>
  <button role="share-gp" class="btn btn-lg btn-default">
    <span class="fa fa-google-plus-square vd-share vd-share-gp"></span>
  </button>
  <button role="share-tw" class="btn btn-lg btn-default">
    <span class="fa fa-twitter-square vd-share vd-share-tw"></span>
  </button>
  <button role="share-pi" class="btn btn-lg btn-default">
    <span class="fa fa-pinterest-square vd-share vd-share-pi"></span>
  </button>
</div>

</div>
