<span class="fa fa-share-alt"></span>
{{ site.data.langs[pgLang].dict.share }}

<span id="vd-share-group" class="vd-share-grp btn-group btn-group-lg" role="group"
      data-share='{"title": "{{ogTitle}}", "url": "{{site.url}}{{ogUrl}}", "pi-media": "{{ site.url }}{{ ogImgUrl }}",
                  "fb-app-id": {{site.fb-app-id}}, "fb-redir": "{{site.url}}/fb-redir-close.html" }'>

    <button type="button" role="share-fb" class="btn btn-default">
        <span class="fa fa-facebook-square vd-share vd-share-fb"></span>
    </button>

    <button type="button" role="share-gp" class="btn btn-default">
        <span class="fa fa-google-plus-square vd-share vd-share-gp"></span>
    </button>

    <button type="button" role="share-tw" class="btn btn-default">
       <span class="fa fa-twitter-square vd-share vd-share-tw"></span>
    </button>

    <button type="button" role="share-pi" class="btn btn-default">
       <span class="fa fa-pinterest-square vd-share vd-share-pi"></span>
    </button>

</span>
