<!-- search-drop-menu -->
<li class="social">
    <a href="https://www.instagram.com/veld_duin/"
        data-toggle="dropdown" role="button" 
       ><span class="socmed socmed-instagram"></span>
    </a>
</li>

<li class="social">
    <a href="https://www.facebook.com/veldenduin/"
        data-toggle="dropdown" role="button" 
       ><span class="socmed socmed-facebook"></span>
    </a>
</li>
<li class="social">
    <a href="http://www.youtube.com/c/VeldenduinBe"
        data-toggle="dropdown" role="button" 
       ><span class="socmed socmed-youtube"></span>
    </a>
</li>
<!--
<li class="social">
    <a href=""
        data-toggle="dropdown" role="button" 
       ><span class="socmed socmed-pinterest"></span>
    </a>
</li>
-->