<div class="container">
    <iframe width="900" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.be/maps?q=&amp;layer=c&amp;sll=51.252469,2.978536&amp;cid=6921251372621305441&amp;panoid=NCmo1N2IzAcAAAQJOFHg3A&amp;cbp=13,133.77,,0,0&amp;gl=BE&amp;hl=nl&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=51.252469,2.978536&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=51.252361,2.978102&amp;source=embed&amp;output=svembed"></iframe>
    <br />
    <small><a href="https://maps.google.be/maps?q=&amp;layer=c&amp;sll=51.252469,2.978536&amp;cid=6921251372621305441&amp;panoid=NCmo1N2IzAcAAAQJOFHg3A&amp;cbp=13,133.77,,0,0&amp;gl=BE&amp;hl=nl&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;ll=51.252469,2.978536&amp;spn=0.006295,0.006295&amp;t=m&amp;cbll=51.252361,2.978102&amp;source=embed" style="color:#0000FF;text-align:left">{{ site.data.langs[pgLang].dict.mapxl }}</a></small>
</div>
