<!DOCTYPE html>
{% include layout-prelude.html %}

<html>
  <head>
    <title>{{ page.title }}</title>
    {% include meta.html %}

    <!-- Custom CSS -->
    <link type="text/css" rel="stylesheet" href="/css/supersized.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/veldenduin-ico-48.png">

  </head>
  <body data-translations='{{site.data.langs[pgLang] | jsonify}}'>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ pgLang }}/">Veld & Duin</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            {% include menu.html %}
            {% include search.html %}
            {% include langs.html %}
        </div>
        </div>
      </nav>
    </header>

    <article>
      <div class="container">
        {{ content }}
      </div>
    </article>

    <footer>
      <div id="footer">
          <!-- TODO include footer -->

      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" charset="utf-8"
        src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>

    <!-- check latest at https://developers.google.com/speed/libraries/devguide#jquery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script type='text/javascript' src='/js/jquery-2.1.3.min.js'><\/script>");
    </script>

    <script type="text/javascript" src="/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>

    <script type="text/javascript" src="/js/supersized.3.2.7.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>

    {% include ga.html %}

  </body>
</html>
