<!DOCTYPE html>
{% include layout-prelude.html %}

<html>
  <head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <!-- atom feed -->
    <link rel="alternate" type="application/atom+xml" href="/atomfeed.xml">

    <!-- meta-data -->
    {% include meta.html %}

    <!-- Custom CSS -->
    <!--
    <link type="text/css" rel="stylesheet" href="/css/supersized.css">
    <link type="text/css" rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
    -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" type="image/png" href="/img/style/veldenduin-ico-48.png">

  </head>
  <body data-translations='{{site.data.langs[pgLang] | jsonify}}'>
    <header>
      <nav class="navbar navbar-default navbar-inverse">
        <div class="vd-menu">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vd-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{ pgLang }}/"><img src="/img/style/logo_veldenduin.png" title="Veld &amp; Duin"></a>
        </div>

        <div class="collapse navbar-collapse" id="vd-menu">
            {% include main-menu.html %}
            <ul id="lang" class="nav navbar-nav navbar-right">
            {% include langs-menu.html %}
            {% include contact-menu.html %}
            {% include search-menu.html %}
            </ul>
        </div>
        </div>
        </div>
      </nav>
    {% unless page.remove contains 'banner' %}
      <div class="vd-banner hidden-sm hidden-xs"></div>
        {% unless page.remove contains 'callout' %}
      <div class="container hidden-sm hidden-xs">
        <div class="vd-callout row">
          <div class="col-lg-9 col-md-8">
              {{site.data.langs[pgLang].dict.callout}}
          </div>
          <div class="pull-right col-lg-3 col-md-4">
            <button class="btn btn-lg btn-success">{{site.data.langs[pgLang].dict.callact}}</button>
          </div>
        </div>
      </div>
        {% endunless%}
    {% endunless %}
    </header>

    <article>
      <div class="container-fluid">
        <div id="content" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  {{ content }}
  {% if page.insert contains 'virtualtour' %}
    {% include virtualtour.html %}
  {% endif %}
  {% if page.insert contains 'play-album' %}
    {% include play-album.html %}
  {% endif %}
  {% unless  page.remove contains 'socialshare'%}
    {% include socialshare.html %}
  {% endunless%}
        </div>
      </div>
    </article>

    <footer>
      <div id="footer">
  {% unless  page.remove contains 'imgstrip'%}
    {% include strip-album.html %}
  {% endunless%}
        <!-- more footer elements? -->
        <div id="contact" class="vd-contact" itemscope itemtype="http://schema.org/Place">
        <div class="container-fluid" >
          <span class="vd-contact-item hidden-xs">
            <span>&copy; 2015</span> <span class="" itemprop="name">{{ site.contact.owner }}</span>
          </span>

          <meta itemprop="description" content="{{ site:description }}" />
<!--
          <span id="route-link" class="item"><a itemprop="map" title="route" href="/{{ pgLang }}/route.html"><span class="glyphicon glyphicon-map-marker"></span></a></span>
-->
          <span "geo" itemprop="geo" itemscope itemtype="http://schema.org/GeoCordinates">
            <meta itemprop="latitude" content="{{ site.geolocation.lat }}" />
            <meta itemprop="longitude" content="{{ site.geolocation.lon }}" />
          </span>
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span class="vd-contact-item hidden-sm hidden-xs" itemprop="streetAddress">
                {{site.contact.street}}
            </span>
            <span class="vd-contact-item hidden-sm hidden-xs">
              <span itemprop="postalCode">{{site.contact.zip}}</span>&nbsp;<span itemprop="addressLocality">{{site.contact.city}}</span>
            </span>
            <span class="vd-contact-item hidden-md hidden-sm hidden-xs"
                itemprop="url">{{ site.contact["site-url"] }}
            </span>
            <a href="mailto:{{ site.contact.email }}" class="vd-contact-item" itemprop="email" title="email" target="_blank" href="mailto:{{ site.links.mail }}">
                {{ site.contact.email }}
            </a>
            <meta itemprop="addressCountry" content="Belgium" />
          </span>

          <span class="vd-contact-item" itemprop="telephone">
            {{ site.contact.phone }}
          </span>
        </div>
        </div>
      </div>
    </footer>


    <!-- Java script to load - at the end of doc for faster page-loading
    ================================================== -->
    <script type="text/javascript" charset="utf-8"
        src="http://maps.google.com/maps/api/js?sensor=true&libraries=geometry"></script>

    <!-- check latest at https://developers.google.com/speed/libraries/devguide#jquery -->
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type='text/javascript'>
      window.jQuery || document.write("<script type='text/javascript' src='/js/jquery-2.1.3.min.js'><\/script>");
    </script>

    <script type="text/javascript" src="/js/jquery-rotate.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.min.js"></script>

    <!--
    <script type="text/javascript" src="/js/supersized.3.2.7.min.js"></script>
    -->
    <script type="text/javascript" src="/js/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="/js/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/js/jquery.gpAlbum.js"></script>
<!--
    <script type="text/javascript" src="/js/turn.min.js"></script>
    <script type="text/javascript" src="/js/scissor.min.js"></script>
    <script type="text/javascript" src="/js/zoom.min.js"></script>
-->
    <script type="text/javascript" src="/js/main.js"></script>

{% include ga.html %}

  </body>
</html>
