---
layout: default
---
{% include layout-prelude.html %}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="vd-group-intro row vd-group-{{page.ofgroup}}-intro">
    {{ content }}
  </div>

  <div class="vd-group-list row {{page.class.group.list}}"
       id="vd-group-list"
       data-geolocation="{{site.geolocation.lat}}, {{site.geolocation.lon}}">
{% assign rankedpages = site.pages | sort: 'ranking' %}
{% for pg in rankedpages %}
    {% assign parts = pg.url | split: '/' %}
    {% assign ln = parts[1] %}
    {% if pg.group == page.ofgroup and ln == pgLang %}
    <div class="vd-group-item vd-group-{{page.ofgroup}}-item {{page.class.group.item}}"
         data-title      = "{{ pg.title }}"
         data-images     = '{{ pg.images | jsonify}}'
         data-link       = "{{ pg.link  }}"
         data-format     = "dist"
         data-location   = "{{ pg.location }}"
         data-subgroups  = '{{ pg.subgroups | jsonify }}'
         data-ranking    = "{{ pg.ranking }}"
    >
      <div class="vd-group-item-inner"
           style="background-image: url('{{pg.images[0]}}');"
      >
        <div class="vd-group-content">
          <div class="vd-group-content-arrow"></div>
          <div class="vd-group-content-inner">
            <div class="vd-group-caption">{{ pg.caption }}</div>
            <div class="vd-group-title">
        {% if pg.link %}
              <a class="vd-link" href="{{pg.link}}" target="_blank">
                <span class="glyphicon glyphicon-new-window"></span>
                {{pg.title}}
              </a>
        {% else %}
            {{pg.title}}
        {% endif %}
            </div>
        {% if pg.location %}
            <div class="vd-group-info">
              <a class="vd-location" target="_blank"
               href="https://www.google.be/maps/dir/{{site.geolocation.lat}}, {{site.geolocation.lon}}/{{pg.location}}?hl={{ pgLang }}"
              >
                <span class="glyphicon glyphicon-map-marker"></span>
              </a>
            </div>
        {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
{% endfor %}
  </div>
</div>
