---
layout: default
insert:
  - banner
---
{% include layout-prelude.html %}

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="vd-landing-intro row jumbotron">
{{ content }}
      </div>
      <div class="vd-landing-selection row">
{% include select.html %}
      </div>
    </div>

{% unless page.remove contains 'newsfeed' %}
    {% include newsfeed.html %}
{% endunless %}

    <div class="col-md-12 hidden-sm">
      <div class="vd-landing-footer">
{% include virtualtour-link.html %}
      </div>
    </div>
  </div>
</div>