---
layout: default
include:
    - page-images-top
---
{% include layout-prelude.html %}

<div class="vd-news">

  <div class="vd-news-content col-lg-8 col-md-8 col-sm-12 col-xs-12" >
    <h1 class="vd-news-title">
    {{ page.title }}
    <span class="vd-news-item-date pull-right">
      <span class="fa fa-calendar"></span>
    {{ page.date | date: "%d-%m-%y" }}
    </span>
    </h1>

    {{ content }}

  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    {% include newsfeed.html %}

    {% include socialshare.html %}
  </div>

</div>
