---
layout: default
---
{% include layout-prelude.html %}

<div class="vd-news">
    <div class="vd-news-footer col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-group btn-group-lg">
    {% if page.previous %}
        <a class="btn btn-default" href="{{page.previous.url}}">
            <span class="glyphicon glyphicon-backward"></span>
            {{page.previous.title}}
        </a>
    {% else %}
        <button type="button" class="btn btn-default disabled">
            <span class="glyphicon glyphicon-remove"></span>
            {{site.data.langs[pgLang].dict.prev}}
        </button>
    {%endif%}
        <a class="btn btn-default" href="{{site.data.linkcode.news[pgLang].link}}">
            <span class="glyphicon glyphicon-eject"></span>
            {{site.data.langs[pgLang].dict.overview}}
        </a>
    {% if page.next %}
        <a class="btn btn-default" href="{{page.next.url}}">
            <span class="glyphicon glyphicon-forward"></span>
            {{page.next.title}}
        </a>
    {% else %}
        <button type="button" class="btn btn-default disabled">
            <span class="glyphicon glyphicon-remove"></span>
            {{site.data.langs[pgLang].dict.next}}
        </button>
    {%endif%}
        </div>
    </div>

    <div class="vd-news-content col-lg-12 col-md-12 col-sm-12 col-xs-12" >
{{ content }}
    </div>

    <div class="vd-news-images hidden-xs">
    {% for img in page.images %}
        <div class="vd-news-image-item col-lg-4 col-md-4 col-sm-4">
            <img src="{{ img }}" class="img-responsive img-thumbnail" >
        </div>
    {% endfor %}
    </div>

</div>
