---
layout: default
---
{% include layout-prelude.html %}

<div>
{% if page.images %}
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="vd-img-strip">
    {% for img in page.images %}
      <img src="{{img}}">
    {% endfor %}
    </div>
  </div>
{% endif %}

  <div class="col-lg-4 col-lg-push-8 col-md-4 col-md-push-8 col-sm-12 col-xs-12">
    <div class="vd-nav">
      <ul>
    {% for m3 in lvl2.submenu %}
        <li>
        {% assign linklangurl = site.data.linkcode[m3.linkcode][pgLang]%}
          <a href="{{linklangurl}}">
        {% for pg in site.pages %}
            {% if pg.url == linklangurl %}
                {% assign title = pg.title %}
                {% if pg.preview.title %}
                    {% assign title = pg.preview.title %}
                {% endif %}
                {{ title }}
            {% endif %}
        {% endfor %}
          </a>
        </li>
    {%endfor %}
      </ul>
    </div>
  </div>

  <div class="col-lg-8 col-lg-pull-4 col-md-8 col-md-pull-4 col-sm-12 col-xs-12">
    <div class="vd-layout-verhuur-item">

{{ content }}

    </div>
  </div>
</div>
